{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block head %}
<link   rel="stylesheet", href="{{ url_for('static',filename='css/login_regist.css') }}">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>

{% endblock %}

{% block body %}

    <script type="text/javascript">

$(function() {
    $("#submit").click(function() {

        var json_obj = {
        		//username:"aaa"
			operation:1,
			telephone:$("#user").val(),
            password:$("#pass").val(),
			//$(this).attr("id":$(this).text())
               };    //JSON对象
        //alert($(this).text());
        //$(this).parent().attr("id","del");
       var json_str = JSON.stringify(json_obj);    //将JSON对象转变成JSON格式的字符串
        $.post("/login/", json_str, callback, "json");
    });
});
  function callback(json){
      if(!json.r){
        //alert(json.rs)
      }
      else{
          //alert(json.r)
          $('#showerr').html(json.error)
          $('#showerr').removeAttr("hidden");
      }
	  //alert( json['result'])
	  //$(#json['result']).remove()
	  //$("#del").remove()
        //$('#response').html('code:'+json['status']['code'] + "\tmessage:" + json['status']['message']);
    }
</script>


<form method="post">
<div class="from-dl">
    <h3 class="dl-title" >登录</h3>
 <div class="form-group">
     <input type="text" class="form-control" placeholder="手机号码" name="telephone" id ='user'>
 </div>
     <div class="form-group">
     <input type="password" class="form-control" placeholder="密码" name = 'password' id='pass'>

 </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" id = 'submit'  >登录</button>
        <p id ='showerr' style="color: red;" hidden >123</p>
    </div>
</div>

</form>
{% endblock %}